 .example1 ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0%;
    margin-left: 20%;
    color: white;
}
a{
    color: silver;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;

    
}
a:hover{
    border: solid 1px palegoldenrod;
    background-color: palegoldenrod;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease 0s ;
}
nav ul li{
    padding: 10px;
}
.example2 ul{
    list-style-type: none;
    flex-direction: column;
    padding: 0px;
    margin: 0%;
    margin-left: 20%;
    color: white;
    text-align: center;
}
#example3 a{
    color: slategray;
}
#example3 a:visited {
     color: green;
}